* {
  user-select: none;
  box-sizing: border-box;
}

.field {
  position: absolute;
  font-family: sans-serif;
  color: grey;
  margin: 70px;
  width: 560px;

  .headers {
    font-size: 35px;
    text-align: center;
  }

  .charHeaders {
    position: absolute;

    div {
      display: inline-block;
      width: 70px;
    }

    &.topHeaders {
      top: -35px;
    }
  }

  .numberHeaders {
    position: absolute;
    top: -4px;

    div {
      height: 70px;
      padding: 12px;
    }

    &.leftHeaders {
      left: -40px;
    }

    &.rightHeaders {
      left: 450px;
    }
  }

  .canvas {
    .square {
      display: inline-block;
      border: 1px solid grey;
      width: 70px;
      height: 70px;
      margin-top: -4px;
    }
  }
}

.button {
  margin: 20px;
}

.timer {
  margin-left: 20px;
}